html{
height: 100%;
}

*{
  margin: 0;
  padding: 0;
}

body{
  background: linear-gradient(90deg, rgba(100,100,100,1) 0%, rgba(50,50,50,1) 50%, rgba(100,100,100,1) 100%);
}

#canvas{
  width: 	70vh;
}
button{
  margin-top: 3em;
  width: 5em;
  height: 2.5em;
  border-radius: 10px;
  font-size: 1.5em;
    
}
#center{
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: center;
  top: 10vh;
  margin: 0 auto;
  width: 	70vh;
  height: 70vh;
}
#button{
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: center;
  top: 10vh;
}